body {
    text-align: center;
}

.row-header, #location {
    display: flex;
    flex-wrap: nowrap;
}

.row-header p, #location p {
    width: 150px;
    text-align: center;

}

.row-header {
    margin-top: 15px;
    background-color: gainsboro;
}

#location {
    margin: 15px 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.btn {
    text-align: center;
}

#distances {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

button {
    background-image: linear-gradient(to right, #c54e22 , #e46d44);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border: none;
    outline: 3px solid #c54e22;
    outline-offset: 2px;
}

button p {
    font-size: 26px;
    display: inline-block;
}

span {
  display: inline-block;
  color: white;
  font-size: 36px;
  padding: 0 30px;
}

@media screen and (max-width: 600px) {
    #distances {
        align-items: flex-start;
    }
}